<!DOCTYPE html>
<html>
<head>
<title>TikcoTech</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="with=device-width,initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="public/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="public/css/font.css">
<link rel="stylesheet" type="text/css" href="public/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="public/css/li-scroller.css">

<link rel="stylesheet" type="text/css" href="public/css/theme.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;500;700&display=swap" rel="stylesheet">
</head>
<body>


<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
                <li><a href="/">INICIO</a></li>
                <li><a href="/information">INFORMATION</a></li>
                <li><a href="/information">CONTACTO</a></li>
              </ul>
            </div>
           
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
           <div class = "logo">
            <a href="/"><img src="/public/css/images/logo.png"></a>
           </div>
           <div class = "logout">
          <form action = "/logout?_method=DELETE" method="POST">
            <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-blue" type="submit"  >Logout</button>
          </form>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li><a href="/">TikcoTech</a></li>
          <li><a href="/">Technologia</a></li>
          
          <li><a href="/newarticle">NUEVO ARTICULOS</a></li>
          <li><a href="/createarticle">Create Article</a></li>
          
        </ul>
      </div>
    </nav>
  </section> 

  


  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="/">Inicio</a></li>
              <li><a href="/information">Information</a></li>
            </ol>
            <div class="contact_area">
            <h1>Create An Article</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>TikcoTech</a> <span><a href="#"><i class="fa fa-tags"></i>Information</a> </div>
            <div class="single_page_content">
             
              <form action = "/createarticle" method = "POST" class="art" >
               Title: <input type = "text" name="title" id="title"  required>
                 <br>
                 
                Author: <input type = "text" name="author" id="author"  required>
                <br>
                <br>
                <br>
                <br>
                Description: <input type = "text" name="body" id="body"  required>
                <br>
                 <input type="submit" value="Sumbit">
                




              </form>  
            

            </div>
            </div>
           
            <div class="related_post">
                <h2>Related Post</h2>
                <ul class="spost_nav wow fadeInDown animated">
                  <li>
                    <div class="media"> <a class="media-left" href="/articles"> <img src="/public/css/images/windows.jpg" alt=""> </a>
                      <div class="media-body"> <a class="catg_title" href="/articles">COMO ACTUALIZAR DE WINDOWS 11 </a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media"> <a class="media-left" href="/articles"> <img src="/public/css/images/newtech.jpg" alt=""> </a>
                      <div class="media-body"> <a class="catg_title" href="/articles">¿COMO ENCONTRAR TU TELÉFONO APLAUDIENDO?</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media"> <a class="media-left" href="/articles"> <img src="/public/css/images/smile.jpg" alt=""> </a>
                      <div class="media-body"> <a class="catg_title" href="/articles">	COMUNICACIÓN LA APLICACION PARA ANDROID</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
              <div class="single_sidebar">
                <h2><span>Popular Post</span></h2>
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="/articles" class="media-left"> <img alt="" src="/public/css/images/smile.jpg"> </a>
                      <div class="media-body"> <a href="/articles" class="catg_title">COMUNICACIÓN LA APLICACION PARA ANDROID</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/articles" class="media-left"> <img alt="" src="/public/css/images/apple.jpg"> </a>
                      <div class="media-body"> <a href="/articles" class="catg_title">Cambie su navegador web predeterminado y su aplicación de correo electrónico</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/articles" class="media-left"> <img alt="" src="/public/css/images/whatsapp.jpg"> </a>
                      <div class="media-body"> <a href="/articles" class="catg_title">Crear GIF a partir de videos de YouTube</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/articles" class="media-left"> <img alt="" src="/public/css/images/samsung.jpg"> </a>
                      <div class="media-body"> <a href="/articles" class="catg_title">DESCARGA WHATSAPP PLUS LA ULTIMA VERSIÓN 2022</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
              
              
              
              <div class="single_sidebar wow fadeInDown">
                <h2><span>Sponsor</span></h2>
                <a class="sideAdd" href="#"><img src="/public/css/images/whatsapplogo.jpg" alt=""></a> </div>
              <div class="single_sidebar wow fadeInDown">
                
              </div>
              <div class="single_sidebar wow fadeInDown">
                <h2><span>Links</span></h2>
                <ul>
                  <li><a href="/">Contacto</a></li>
                  <li><a href="/information">Information</a></li>
                  <li><a href="/information">Social Media</a></li>
                </ul>
              </div>
              
            </aside>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="footer_top">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInLeftBig">
                <h2>TikcoTech</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInDown">
                <h2>Tag</h2>
                <ul class="tag_nav">
                  <li><a href="/">Technologia</a></li>
                  <li><a href="/">WHATSAPP</a></li>
                  <li><a href="/">Samsung</a></li>
                  <li><a href="/">Apple</a></li>
                  <li><a href="/">Information</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInRightBig">
                <h2>Contacto</h2>
                <p>Para contactarme por favor envíeme un correo electrónico a umalopez123@gmail.com</p>
                <address>
                  100 Harborside Blvd, Providence RI, 02905, United States Phone: 123-326-789 Fax: 123-546-567
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <p class="copyright">Copyright &copy; 2022 <a href="/">TikcoTech</a></p>
          <p class="developer">Developed By Maria Lopez</p>
        </div>
      </footer>
    </div>
    
    </body>
    </html>